<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">

  <!-- ===== BOX ICONS ===== -->
  <link href='https://cdn.jsdelivr.net/npm/boxicons@2.0.5/css/boxicons.min.css' rel='stylesheet'>

  <!-- font-awesome icon link -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">

  <!-- bootstrap icons -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">

  <!-- google font -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;500&display=swap" rel="stylesheet">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

  <!-- ===== CSS ===== -->
  <link rel="stylesheet" href="../../public/css/profile_sidebar.css">
  <link rel="stylesheet" href="../../public/css/bg_color.css">
  <link rel="stylesheet" href="../../public/css/button.css">

  <title>Faculty view</title>
  <style>
    div.my_card {
      background-color: #8EC5FC;
      background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);

    }
  </style>
  <!-- <style>
        /* Add custom styles here */
        .category {
          font-weight: bold;
          margin-top: 20px;
        }
    
        .folder {
          margin-left: 20px;
        }
      </style> -->
</head>

<body id="body-pd">

  <%- include('./layouts/navbar') %>

  <div class="container">
    <div class="row">
      <form action="faculty_view" method="post" class="d-flex align-items-center">
        <div class="form-group px-2">
          <select id="category" name="catId" class="form-control">
            <option value="category" disabled selected>Choose Category</option>
            <% categories.forEach((item) => { %>
            <option value="<%= item._id %>"><%= item.category_name %></option>
            <% }) %>
          </select>
        </div>
        <div class="form-group px-2">
          <select id="folder" name="foldId" class="form-control">
            <option value="folder" disabled selected>Choose Folder</option>
          </select>
        </div>
        <div class="form-group px-2">
          <button type="submit" name="submit" class="btn btn-success">View Document</button>
        </div>
      </form>
    </div>
  </div>
  
  <div class="container my-5">
    <h3 class="py-3">Available documents</h3>

    <table class="table" id="doc_table">
        <thead>
            <tr style="font-family: 'Ubuntu', sans-serif;">
                <th scope="col">Doc Name</th>
                <th scope="col">Category No</th>
                <th scope="col">Folder Name</th>
                <th scope="col">Document No</th>
                <th scope="col">Upload Date</th>
                <th scope="col">Action</th>
            </tr>
        </thead>

        <tbody>

            <% if (typeof documentInfo !== 'undefined' && documentInfo.length > 0) { %>
                <% for (let i = 0; i < documentInfo.length; i++) { %>
            
                        <tr>
                            <td><%= documentInfo[i].doc_name %></td>
                            <td><%= documentInfo[i].folder_id[0].category_id[0].category_id %></td>
                            <td><%= documentInfo[i].folder_id[0].folder_name %></td>
                            <td><%= documentInfo[i].document_no %></td>
                            <td><%= documentInfo[i].document_date.toLocaleDateString('en-US') %></td>
                            <td>
                                <a href="/public/uploadedFile/<%= documentInfo[i].doc_name %>" target="_blank"><button type="submit" class="view_btn btn btn-outline-primary mx-1 mb-1"><i class="bi bi-eye-fill"></i></button></a>
                            </td>
                        </tr>   
                        
                    <% } %>
                
            <% } else { %>
                <tr>
                    <td colspan="9">No documents found</td>
                </tr>
            <% } %>

            <!-- for another object -->




        </tbody>
    </table>
</div>

  

    <!--===== MAIN JS =====-->
    <script src="../../public/JS/profile_sidebar.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>

    <script src="../../public/jquery/jquery.js"></script>

    <script>
      const categoryDropdown = document.getElementById('category');
      const folderDropdown = document.getElementById('folder');

      // Event listener for category dropdown change
      categoryDropdown.addEventListener('change', function () {
        const selectedCategoryId = categoryDropdown.value;

        // Clear the folder dropdown options
        folderDropdown.innerHTML = '<option value=""  selected>Choose Folder</option>';

        // Fetch folders based on selected category using AJAX
        fetch('get_folders/' + selectedCategoryId) // Update the URL to include the correct path
          .then(response => {
            if (!response.ok) {
              throw new Error('Network response was not ok');
            }
            return response.json();
          })
          .then(data => {
            // Populate the folder dropdown with the fetched folders
            data.folders.forEach(folder => {
              const option = document.createElement('option');
              option.value = folder._id;
              option.textContent = folder.folder_name;
              folderDropdown.appendChild(option);
            });
          })
          .catch(error => {
            console.log('Error:', error);
            // Handle the error gracefully
            // ...
          });
      });
    </script>

</body>

</html>